<div class="fixed inset-0 flex items-center justify-center font-centra">

    <div class="max-w-xl py-6 px-8 mt-0 bg-white rounded shadow-xl">
        <div class="flex justify-center items-center p-5">
            <img class="max-w-[15rem]" src="assets/ui/truescape-logo-dark.png" />
        </div>
        <form  [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="mb-6">
            <label for="name" class="block text-gray-800 font-bold">Name:</label>
            <input type="text" name="" id="name" formControlName="username" placeholder="username" class="w-full border border-gray-300 py-2 pl-3 rounded mt-2 outline-none focus:ring-indigo-600 :ring-indigo-600" />
          </div>
          <div>
            <label for="password" class="block text-gray-800 font-bold">Password:</label>
            <input type="password" name="" id="password" formControlName="password" placeholder="password" class="w-full border border-gray-300 py-2 pl-3 rounded mt-2 outline-none focus:ring-indigo-600 :ring-indigo-600" />
            <a href="#" class="text-sm font-thin text-gray-800 hover:underline mt-2 inline-block hover:text-indigo-600">Forget Password</a>
          </div>
          <button class="cursor-pointer py-2 px-4 block mt-6 bg-[#0085ca] text-white font-bold hover:bg-red w-full text-center rounded">Login</button>
        </form>
      </div>
</div>