<div class="fixed inset-0 flex items-center justify-center z-50" [class.hidden]="!isOpen">
    <div class="modal-overlay fixed inset-0 bg-black opacity-40" ></div>
  
    <div class="modal-content max-w-3xl bg-gray-800 rounded-md shadow-xl p-2">
      <div class="flex justify-between items-center mb-4 ">
        <span class="text-white z-10 font-centra">{{getCurrentCaption()}}</span>
        <button class="text-white  z-10 cursor-pointer" (click)="closeModal()">
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
  
      <div class="flex justify-center items-center">
        <div class="relative">
          <img class="mx-auto  " [src]="getCurrentImage()" alt="Site Image">
  
          <div class="absolute top-0 bottom-0 left-0 flex justify-center items-center">
            <button class="text-white opacity-50 hover:opacity-100" (click)="prevImage()">
              <svg class="h-10 w-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
              </svg>
            </button>
          </div>
  
          <div class="absolute top-0 bottom-0 right-0 flex justify-center items-center">
            <button class="text-white opacity-50 hover:opacity-100" (click)="nextImage()">
              <svg class="h-10 w-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  